{% extends "base.html" %}

{% block content %}
<h1>
{%- if current.lower -%}
<a href="{{ current.lower.permalink }}">{{ macros::icon(type="solid", name="angle-left") }}</a>
{%- endif -%}
{{ current.title | safe }}
{%- if current.higher -%}
<a href="{{ current.higher.permalink }}">{{ macros::icon(type="solid", name="angle-right") }}</a>
{%- endif -%}
</h1>

{% if current.taxonomies["tags"] %}
{% for tag in current.taxonomies["tags"] %}
<span class="olivine-tag"><a href="{{ config.base_url | safe }}/tags/{{ tag }}/">#{{ tag }}</a></span>
{% endfor %}
{% endif %}

{{ current.content | safe }}

{% endblock %}
