<div id="help-window" style="display:none;">
  <div>
    <h1>Keyboard shortcuts</h1>
    <div id="help-shortcuts">
      <div><code>j</code> scroll down</div>
      <div><code>k</code> scroll up</div>
      <div><code>h</code> go to previous sibling</div>
      <div><code>l</code> go to next sibling</div>
      <div><code>u</code> go to parent</div>
      <div><code>H</code> go to root</div>
      <div><code>p</code> go to previous page</div>
      <div><code>n</code> go to next page</div>
      <div><code>[</code> toggle left sidebar</div>
      <div><code>]</code> toggle right sidebar</div>
      <div><code>?</code> toggle keyboard shortcuts</div>
      <div><code>Esc</code> focus document</div>
    </div>
  </div>
</div>
