<div id="help-window" style="display:none;">
  <div>
    <h1>Keyboard shortcuts</h1>
    <div id="help-shortcuts">
      <div><code>j</code> scroll down</div>
      <div><code>k</code> scroll up</div>
      <div><code>g</code> scroll to top</div>
      <div><code>G</code> scroll to bottom</div>
      <div><code>h</code> go to previous sibling</div>
      <div><code>l</code> go to next sibling</div>
      <div><code>u</code> go to parent</div>
      <div><code>U</code> go to root</div>
      <div><code>r</code> reload page</div>
      <div><code>H</code> go back in history</div>
      <div><code>L</code> go forward in history</div>
      <div><code>t</code> toggle theme</div>
      <div><code>[</code> toggle left sidebar</div>
      <div><code>]</code> toggle right sidebar</div>
      <div><code>f</code> open and close link options</div>
      <div><code>/</code> focus searchbar</div>
      <div><code>?</code> toggle keyboard shortcuts</div>
      <div><code>Esc</code> focus document</div>
    </div>
  </div>
</div>
