{% extends "base.html" %}

{% block content %}
{% if current.content %}
<h1>{{ current.title }}</h1>

{% if current.taxonomies["tags"] %}
{% for tag in current.taxonomies["tags"] %}
<span class="olivine-tag"><a href="{{ config.base_url }}/tags/{{ tag }}/">#{{ tag }}</a></span>
{% endfor %}
{% endif %}

{{ current.content | safe }}

{% else %}
<h1>Welcome to Olivine</h1>
<p>Please visit the <a href="https://github.com/dongryul-kim/olivine">Github repository</a> for information on getting started.</p>
{% endif %}
{% endblock %}
