{%- macro sitemap(path, first) -%}
{%- set section = get_section(path=path) -%}
{%- if not first %}, {% endif -%}
"{{ section.path | safe }}" : "{{ section.title | default(value="") | safe }}"
{%- for subsection in section.subsections -%}
{{ self::sitemap(path=subsection, first=false) | safe }}
{%- endfor -%}
{%- for page in section.pages -%}
, "{{ page.path | safe }}" : "{{ page.title | default(value="") | safe }}"
{%- endfor -%}
{%- endmacro sitemap -%}

{%- macro icon(name, type="regular") -%}
<span class="olivine-icon"><i class="fa-{{ type }} fa-{{ name }}"></i></span>
{%- endmacro icon -%}

{%- macro defer_stylesheet(href) -%}
<link rel="preload" href="{{ href | safe }}" as="style" onload="this.onload=null;this.rel='stylesheet'"/><noscript><link rel="stylesheet" href="{{ href | safe }}"/></noscript>
{%- endmacro defer_stylesheet -%}

{% macro extract_back(obj) %}
{% for backlink in obj.backlinks %}
{% set back = backlink.permalink | trim_start_matches(pat=config.base_url) %}
{ data: { source: '{{back|safe}}', target: '{{obj.path|safe}}' } },
{% endfor %}
{% endmacro %}

{% macro extract(path) %}
{% set section = get_section(path=path) %}
{ data: { id: '{{section.path|safe}}', type: 'section', name: '{{section.title|replace(from="'",to="\'")|truncate(length=20)|safe}}' } },
{{ self::extract_back(obj=section) }}
{% for page in section.pages %}
{ data: { id: '{{page.path|safe}}', type: 'page', name: '{{page.title|replace(from="'",to="\'")|truncate(length=20)|safe}}' } },
{ data: { source: '{{page.path|safe}}', target: '{{section.path|safe}}' } },
{{ self::extract_back(obj=page) | safe }}
{% endfor %}
{% for subsection in section.subsections %}
{{ self::extract(path=subsection) | safe }}
{% set var_subsection = get_section(path=subsection) %}
{ data: { source: '{{var_subsection.path|safe}}', target: '{{section.path|safe}}' } },
{% endfor %}
{% endmacro extract %}
